footer {display:block;}
.right{display:inline;}


/* Override some defaults */
html, body {
  background-color: #eee;
  font: 15px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar {
  margin-bottom: 0;
}
.navigation {
  position: absolute;
  top: 1.3em;
  right: 3px;
}
.navigation li {
 float: left;
 margin: 0;
 padding: 10px 20px;
 font-size: 1.2em;
}
.header-info {
  position: relative;
}
.fix {
  zoom: 1;
}
#header {
  position: relative;
  border-bottom: 1px solid #ccc;
}
a, a code {
color: #08c;
text-decoration: none;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
