<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <link href="/_layouts/defaultcss.css" type="text/css" rel="stylesheet" media="all">
　  <title>{{ page.title }}</title>
  </head>
　<body>
     <header id="header">
     <div class="header-info fix">
         <a class="brand" href="/" style="padding-left:46px;">Sea Dragon</a>
        <nav> 
	<ul>
  <li><a href="/posts">Blogs</a></li>
  <li><a href="/archive">Archive</a></li>
  <li><a href="/tags">Tags</a></li>
  <li><a href="/about">About Me</a></li>
          </ul>
	</nav>
    </div>
    </header>
　　　　{{ content }}
     <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'hnnote'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <div id="footer">
      <div class="copyright right">
          <p>Design by <a href="http://hnnote.com" title="seadragon" target="_blank">SeaDragon</a> &copy; 2013</p>
      </div>
    </div>
  </body>
</html>
